@tailwind base;
@tailwind components;
@tailwind utilities;
.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}

/* static/style.css */

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 20px; /* Add some space between tables */
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}